@import "./column.css";


.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 10px;
}

.column {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    /* 13.3px 是40 / 3 得来的 ，40 是 3个盒子中间有2个20px的间距*/
    /* width: calc(33.333333% - 13.333333px); */
    width: calc(25% - 20px);
    height: 260px;
    padding: 10px;
}



.one {
    width: 100%;
    height: 100%;
    background:url(./assets/img/image01.png) no-repeat ;
    background-size: 100% 100%;
}

.two {
    width: 100%;
    height: 100%;
    background:url(./assets/img/image02.png) no-repeat ;
    background-size: 100% 100%;
}

.three {
    width: 100%;
    height: 100%;
    background:url(./assets/img/image03.png) no-repeat ;
    background-size: 100% 100%;
}

.four {
    width: 100%;
    height: 100%;
    background:url(./assets/img/image04.png) no-repeat ;
    background-size: 100% 100%;
}


/* Media queries */
/* 768px and down */
@media (max-width: 768px) {
    /* .one, .two {
        width: calc(50% - 10px);
    }
    .three {
        width: 100%;
    } */

    .column {
        width: calc(50% - 20px);
    }

    /* .three {
        width: calc(50% - 10px);
    }

    .four {
        width: calc(50% - 10px);
    } */

    

    
}

/* 480px and down */
@media (max-width: 480px) {
    .column {
        width: 100%;
    }
}